.table{
  position: relative;
  select{
    position: absolute;
    top: -35px;
    right: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    border: none;
    color: $color-main;
    background-color: transparent;
  }
  .pagination{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    .btn{
      margin-top: 0;
      padding: 5px;
      background-color: transparent;
      color: $color-main;
      font-weight: bold;
      font-size: 16px;
      &:disabled{
        display: none;
      }
    }
    span{
      padding: 0 10px;
      color: $color-light-gray;
      strong{
        color: $color-main;
      }
    }
  }
}
table{
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  overflow-x: hidden;
  overflow-y: auto;
  thead{
    background-color: $color-main;
    color: $color-white;
    font-size: 14px;
    th{
      padding: 10px 5px;
    }
  }
  tbody{
    tr{
      &:nth-child(2n){
        background-color: $color-white;
      }
    }
    td{
      padding: 10px 5px;
      font-size: 14px;
      text-align: center;
      line-height: 1.5;
      &:first-child{
        font-weight: bold;
      }
    }
  }
}