.test-words{
  .sub-title{
    margin-bottom: 30px;
  }
  .btn{
    margin-top: 100px;
  }
  .list{
    &__title{
      font-size: 14px;
      text-align: center;
    }
  }
  .card{
    padding: 70px 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }
  .modal{
    .sub-title{
      margin-bottom: 0;
    }
    .list{
      span{
        display: inline-block;
        margin-right: 10px;
      }
      &__title{
        font-size: 18px;
      }
      &.right{
        color: $color-main;
      }
      &.wrong{
        color: $color-light-gray;
      }
    }
    .btn{
      margin-top: 50px;
      font-size: 18px;
    }
  }
}