.words{
  &-list{
    margin-top: 15px;
    &__depth{
      display: none;
      margin-top: 5px;
      padding: 0 15px;
      &-list{
        a{
          display: block;
          font-size: 14px;
          padding: 5px;
          border-bottom: 1px solid #5729e3;
          transition: all 0.2s;
          &:hover{
            color: #fff;
            background-color: #5729e3;
            border-radius: 5px;
          }
        }
      }
    }
  }
  &-title{
    cursor: pointer;
    &__icon{
      display: inline-block;
      margin-right: 15px;
      padding-top: 5px;
      width: 30px;
      height: 30px;
      background-color: #5729e3;
      color: #fff;
      border-radius: 50%;
      text-align: center;
    }
  }
}

.step{
  &-list{
    margin-top: 10px;
    border-radius: 20px;
    background-color: #5729e3;
    -webkit-box-shadow:inset 2px 2px 5px 1px rgba(47,23,112,0.3);
    box-shadow:inset 2px 2px 5px 1px rgba(47,23,112,0.3);
    &__title{
      font-weight: bold;
      color: #fff;
    }
    &.active{
      span{
        display: block;
      }
    }
    a{
      display: block;
      position: relative;
      padding: 25px 15px;
      &:after{
        position: absolute;
        top: 50%;
        right: 20px;
        width: 36px;
        height: 36px;
        background-color: #f7f7f7;
        border-radius: 50%;
        transform: translateY(-50%);
        content: ''
      }
      span{
        display: none;
        position: absolute;
        top: 50%;
        right: 25px;
        z-index: 10;
        font-size: 25px;
        color: #7547FF;
        border-radius: 50%;
        line-height: 1;
        transform: translateY(-50%);
      }
    }
  }
}