@mixin  positionAlign($top: 0, $left: 0, $translateX: 0, $translateY: 0){
  position: absolute;
  @if $top != 0 {
    top: $top;
  }
  @if $left != 0 {
    left: $left;
  }
  @if $translateX != 0 {
    transform: translateX($translateX);
  }
  @if $translateY != 0 {
    transform: translateY($translateY);
  }
}

@mixin flexCenter($direction: row){
  display: flex;
  align-items: center;
  justify-content: center;
  @if $direction != row {
    flex-direction: $direction;
  }
}